@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* 01 Productly */
body {
  /* flex-wrap: wrap; */
  justify-content: center;
  flex-direction: column;
  /* position: absolute; */
  min-width: 1400px;
  width: 100%;
  height: 1277px;

  background: #ffffff;
}

/*----- Fonts -----*/

.font_Regular {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.font_Medium {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.font_Semibold {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: normal;
}

.font_Bold {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: normal;
}

/*----- Font Size -----*/
.f_Size14 {
  font-size: 14px;
}
.f_Size16 {
  font-size: 16px;
}

.f_Size18 {
  font-size: 18px;
}

.f_Size20 {
  font-size: 20px;
}

.f_Size22 {
  font-size: 22px;
}

.f_Size36 {
  font-size: 36px;
}

.f_Size44 {
  font-size: 44px;
}

/*----- Text decorations -----*/

.line_H35 {
  line-height: 35px;
}
p,
a {
  color: #544837;
  line-height: 26px;
}
h1,
.nav_Color {
  color: #2f281e;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

/*----- Text decorations -----*/
.flex_Box {
  display: flex;
}
/*----- Margins -----*/
.m_Bottom12 {
  margin-bottom: 12px;
}
.m_Bottom22 {
  margin-bottom: 22px;
}

.m_Bottom25 {
  margin-bottom: 25px;
}

.m_Bottom30 {
  margin-bottom: 30px;
}

/*----- Navigation -----*/

Header {
  align-items: center;
  justify-content: space-between;
  position: relative;
  max-width: 1400px;
  width: 100%;
  height: 78px;
  padding-top: 20px;
  left: 0px;
  top: 0px;
}

/*----- Navbar / Logo Box -----*/

.logo_Box {
  margin-left: 144px;
}

.logo {
  width: 185px;
  height: 32px;
}

.nav_Box {
  justify-content: center;
  margin-left: auto;
}

.li_Box {
  display: flex;
}

.li_Text {
  padding: 20px;
}

.nav_Color {
  display: inline-block;
  line-height: 28px;
}

.nav_Color:hover {
  transform: translate(1px, 4px);
}

/*----- Button and effects -----*/

.sign_InBtn,
.sign_UpBtn {
  padding: 11px 25px;
  margin-left: 45px;
  margin-top: 15px;
  margin-bottom: 17px;
  border-radius: 4px;
  border: 1px solid #bcd0e5;
  color: #173a56;
  transition: background-color 0.3s ease-in-out;
}

.sign_InBtn:hover {
  background-color: #bcd0e5;
  color: #fff;
}

.sign_UpBtn {
  margin-right: 145px;
  margin-left: 14px;
  background-color: #ff9900;
  color: #fff;
  transition: background-color 0.3s ease-in-out;
}

.sign_UpBtn:hover,
.get_StartedBtn:hover {
  background-color: #cc4611;
}

/*----- Hero Section -----*/

.flex_Box {
  align-items: center;
  justify-content: center;
}

.hero_Box {
  max-width: 518px;
  width: 100%;
  height: 331px;
  margin: 113px 0px 0px 145px;
}

.hero_TextHeader {
  line-height: 54px;
}

.hero_TextPara {
  max-width: 458px;
  width: 100%;
  line-height: 28px;
  margin-top: 30px;
}
.hero_Btn {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  position: relative;
  width: 366px;
  height: 53px;
}

.get_StartedBtn {
  padding: 14px 41px;
  background-color: #ff9900;
  color: #ffffff;
  border-radius: 4px;
  border: none;
  margin-top: 45px;
}

.triangle_Icon,
.link_Btn {
  color: #ff9900;
  transition: color 0.3s ease-in-out;
}

.link_Btn:hover {
  color: #dc5c29;
}

.hero_Img {
  width: 605px;
  height: 496px;
  margin-top: 30px;
  margin-right: 129px;
}

/*----- Features Section -----*/
.features_Box-H {
  justify-content: center;
  align-items: center;
  margin-top: 110px;
  /* margin-bottom: 120px; */
  left: 439px;
}

.features_H {
  text-align: center;
  margin-bottom: 54px;
}

/* .features_Main-Box {
  align-items: center;
  flex-direction: column;
  width: 100%;
  min-width: 1095px;
  height: 204px;
} */

.features_Card-Box {
  display: flex;
  justify-content: space-evenly;
  height: 204px;
  margin-bottom: 34px;
}

.card {
  min-width: 240px;
}

.card_Heading {
  font-size: 22px;
  margin-top: 30px;
}

.card_Para {
  margin-top: 30px;
  margin-right: 46px;
  max-width: 240px;
  width: 100%;
  height: 178px;
  line-height: 26px;
  color: #544837;
}

.feature_Btn {
  width: 175px;
  height: 53px;
  border-radius: 4px;
  margin-top: 34px;
  /* margin-bottom: 90px; */
  border: none;

  transition: 0.3s ease-in-out;
  color: #ffffff;
  background-color: #ff9900;
}

.feature_Btn:hover {
  transform: scale(1.2);
}

/*----- Effortless Validation -----*/

/* .Effort_Main-Box {
    justify-content: center;
    align-items: center;
    margin-top: 120px;
    margin-bottom: 101px;
  } */

/* .Effort_Text-Box {
    max-width: 486px;
    width: 100%;
    height: 531px;
  } */

/*----- Location tool -----*/
.location {
  border: #c37272;
  border-width: 3px;
  border-style: solid;
}
